#portfolio {
  margin: 0 15px;
  font-weight: 800 !important;
}


#contact-link {
  font-weight: 600 !important;
  padding: 0px !important;

}

.landing-page-container {
  background: white;
  
}

.description {
 color: black;
 font-weight: 200;
}

.title {
  font-weight: 300;
}

.info-title {
  font-weight: 300;
  margin: 10px 0px;
}

#center-aboutme {
  width: 80%;
}

#purchase-div {
  background-color: #8ce7f0 ;
}

.card-title {
  color: black;
  font-weight: 600;
}

#purchase-button {
  background-color: #6dc3eb;
  color: black;
}

#purchase-rb {
  size: 120px;
}

.carousel-item {
  max-height: 700px;
  max-width: auto;
  overflow: hidden;
}

#carousel {
  padding: 0px;
}

#contact-a {
  color: #9ed9f5;
  font-weight: 400;
}

#contact-a:hover {
  color: #82b0c5;
}

#reviews {
  background-color: black;
  color: white;
}

.reviews-title {
  color: white;
  font-weight: 500;
}

.card-description-reviews {
  color: white;
  font-weight: 400;
}

.piece-title {
  color: white
}

.customer {
  color: white;
}

/* .card-profile .card-avatar {
  border-radius: 20%;
  max-width: 250px !important;
  max-height: 250px !important;
} */

.art-avatar {
  border-radius: 20% !important;
  max-width: 250px !important;
  max-height: 250px !important;
}

#dancer-comm {
  margin: 35px 0px;
}

.row {
  justify-content: center;
}